<!-- Header -->
<app-header></app-header>

<!-- Image Section -->
<div class="image-section">
  <img
    src="./assets/images/croppedStudying.png"
    class="header-image"
    alt="Image"
  />
</div>

<!-- Bottom Half -->
<div class="bottom-half">
  <div class="left-column">
    <select
      class="form-select"
      id="classDropdown"
      name="class"
      (change)="onSelect($event)"
    >
      <option value="9-1">9 klasė - Kintamieji</option>
      <option disabled value="9-2">9 klasė - Sąlygos Sakiniai</option>
      <option value="10-1">10 klasė - Ciklai</option>
      <option disabled value="10-2">10 klasė - Nuskaitymas iš failo</option>
    </select>
  </div>

  <div class="right-column">
    <h1>Testas - {{ selectedTitle }}</h1>
    <p> {{ selectedDescription }} </p>
    <p> Daugiau informacijos rasite <a [href]="selectedHref">čia</a>.  </p>
    <button
    (click)="redirectToTest()"
    class="btn w-30 btn-primary green-button"
  >
    Pradėti testą
  </button>
  </div>
</div>
