<div
  class="container-fluid"
  style="padding: 0; margin: 0; height: 100vh; overflow-x: hidden"
>
  <div class="row h-100" style="margin-right: 0; margin-left: 0">
    <!-- Left Side (70%) for Image -->
    <div
      class="col-md-8"
      style="
        background-image: url('./assets/images/studying.png');
        background-size: cover;
        background-position: center;
        padding: 0;
      "
    ></div>

    <!-- Right Side (30%) for Login Form -->
    <div
      class="col-md-4 d-flex align-items-center justify-content-center"
      style="padding: 0"
    >
      <div class="login-form" style="width: 80%; max-width: 400px">
        <p style="font-weight: 500; font-size: 30px">Pamiršote slaptažodį?</p>

        <form style="padding-top: 5px">
          <!-- Email Field -->
          <label for="emailInput" class="form-label">El. Paštas</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="emailIcon"
              ><i class="bi bi-envelope"></i
            ></span>
            <input
              type="email"
              class="form-control"
              id="emailInput"
              name="email"
              placeholder="El. Paštas"
              aria-describedby="emailIcon"
            />
          </div>

          <div style="text-align: right; padding-bottom: 5px" class="mb-3">
            <a class="forgot-password" routerLink="/">Grįžti į prisijungimą?</a>
          </div>
          <button type="submit" class="btn w-100 btn-primary green-button">
            Siųsti
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
