<div
  class="container-fluid"
  style="padding: 0; margin: 0; height: 100vh; overflow-x: hidden"
>
  <div class="row h-100" style="margin-right: 0; margin-left: 0">
    <!-- Left Side (70%) for Image -->
    <div
      class="col-md-8"
      style="
        background-image: url('./assets/images/studying.png');
        background-size: cover;
        background-position: center;
        padding: 0;
      "
    ></div>

    <!-- Right Side (30%) for Register Form -->
    <div
      class="col-md-4 d-flex align-items-center justify-content-center"
      style="padding: 0"
    >
      <div class="register-form" style="width: 80%; max-width: 400px">
        <p style="font-weight: 500; font-size: 30px">Registracija</p>
        <p style="margin-bottom: 0">Jeigu jau turite paskyrą:</p>
        <a class="green-hyperlink" routerLink="/">Prisijunkite!</a>

        <form
          [formGroup]="registerForm"
          (ngSubmit)="onRegisterClick()"
          style="padding-top: 50px"
        >
          <!-- Email Field -->
          <label for="emailInput" class="form-label">El. Paštas</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="emailIcon"
              ><i class="bi bi-envelope"></i
            ></span>
            <input
              type="email"
              class="form-control"
              id="emailInput"
              name="email"
              formControlName="email"
              placeholder="El. Paštas"
              aria-describedby="emailIcon"
              required
            />
          </div>
          <div
            class="invalid-field"
            *ngIf="
              registerForm.get('email')?.invalid &&
              (registerForm.get('email')?.dirty ||
                registerForm.get('email')?.touched)
            "
          >
            <div *ngIf="registerForm.get('email')?.hasError('required')">
              El. paštas yra reikalingas.
            </div>
            <div *ngIf="registerForm.get('email')?.hasError('email')">
              Patikrinkite el. pašto adresą.
            </div>
          </div>
          <!-- Name Field -->
          <label for="nameInput" class="form-label">Vardas</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="nameIcon"
              ><i class="bi bi-person"></i
            ></span>
            <input
              type="name"
              class="form-control"
              id="nameInput"
              name="name"
              formControlName="name"
              placeholder="Vardas"
              aria-describedby="nameIcon"
              required
            />
          </div>
          <div
            class="invalid-field"
            *ngIf="
              registerForm.get('name')?.invalid &&
              (registerForm.get('name')?.dirty ||
                registerForm.get('name')?.touched)
            "
          >
            <div *ngIf="registerForm.get('name')?.hasError('required')">
              Vardas yra reikalingas.
            </div>
          </div>
          <!-- Surname Field -->
          <label for="surnameInput" class="form-label">Pavardė</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="surnameIcon"
              ><i class="bi bi-person"></i
            ></span>
            <input
              type="name"
              class="form-control"
              id="surnameInput"
              name="surname"
              formControlName="surname"
              placeholder="Pavardė"
              aria-describedby="surnameIcon"
              required
            />
          </div>
          <div
            class="invalid-field"
            *ngIf="
              registerForm.get('surname')?.invalid &&
              (registerForm.get('surname')?.dirty ||
                registerForm.get('surname')?.touched)
            "
          >
            <div *ngIf="registerForm.get('surname')?.hasError('required')">
              Pavardė yra reikalinga.
            </div>
          </div>
          <!-- Password Field -->
          <label for="passwordInput" class="form-label">Slaptažodis</label>
          <div class="input-group mb-3 position-relative">
            <span class="input-group-text" id="passwordIcon"
              ><i class="bi bi-lock"></i
            ></span>
            <input
              type="password"
              class="form-control"
              id="passwordInput"
              [type]="showPassword ? 'text' : 'password'"
              name="password"
              formControlName="password"
              placeholder="Slaptažodis"
              aria-describedby="passwordIcon"
              required
            />
            <span
              class="position-absolute toggle-password-icon"
              (click)="togglePasswordVisibility()"
            >
              <i
                class="bi"
                [class.bi-eye-slash]="!showPassword"
                [class.bi-eye]="showPassword"
              ></i>
            </span>
          </div>
          <div
            class="invalid-field"
            *ngIf="
              registerForm.get('password')?.invalid &&
              (registerForm.get('password')?.dirty ||
                registerForm.get('password')?.touched)
            "
          >
            <div *ngIf="registerForm.get('password')?.hasError('required')">
              Slaptažodis yra reikalingas.
            </div>
            <div *ngIf="registerForm.get('password')?.hasError('minlength')">
              Slaptažodis turi būti bent 6 simbolių ilgio.
            </div>
          </div>
          <!-- Password Confirm Field -->
          <label for="confirmPasswordInput" class="form-label"
            >Pakartoti slaptažodį</label
          >
          <div class="input-group mb-3 position-relative">
            <span class="input-group-text" id="confirmPasswordIcon">
              <i class="bi bi-lock"></i>
            </span>
            <input
              type="password"
              class="form-control"
              id="confirmPasswordInput"
              [type]="showConfirmPassword ? 'text' : 'password'"
              name="confirmPassword"
              formControlName="confirmPassword"
              placeholder="Pakartoti slaptažodį"
              aria-describedby="confirmPasswordIcon"
              required
            />
            <span
              class="position-absolute toggle-password-icon"
              (click)="toggleConfirmPasswordVisibility()"
            >
              <i
                class="bi"
                [class.bi-eye-slash]="!showConfirmPassword"
                [class.bi-eye]="showConfirmPassword"
              ></i>
            </span>
          </div>
          <div
            class="invalid-field"
            *ngIf="
              registerForm.get('confirmPassword')?.invalid &&
              (registerForm.get('confirmPassword')?.dirty ||
                registerForm.get('confirmPassword')?.touched)
            "
          >
            <div
              *ngIf="registerForm.get('confirmPassword')?.hasError('required')"
            >
              Patvirtinkite slaptažodį.
            </div>
            <div
              *ngIf="
                registerForm
                  .get('confirmPassword')
                  ?.hasError('passwordMismatch')
              "
            >
              Slaptažodžiai turi sutapti.
            </div>
          </div>
          <!-- Class Dropdown-->
          <div class="mb-3">
            <label for="classDropdown" class="form-label"
              >Pasirinkite klasę</label
            >
            <select
              class="form-select"
              id="classDropdown"
              formControlName="grade"
              name="class"
            >
              <option value="9th grade">9 klasė</option>
              <option value="10th grade">10 klasė</option>
            </select>
          </div>
          <div
            class="invalid-field"
            *ngIf="
              registerForm.get('classroom')?.invalid &&
              (registerForm.get('classroom')?.dirty ||
                registerForm.get('classroom')?.touched)
            "
          >
            <div *ngIf="registerForm.get('classroom')?.hasError('required')">
              Klasė yra reikalinga.
            </div>
          </div>
          <!-- Reset Password -->
          <div style="text-align: right" class="mb-3">
            <a class="forgot-password" routerLink="/forgot-password"
              >Pamiršote slaptažodį?</a
            >
          </div>
          <button
            type="submit"
            [disabled]="registerForm.invalid"
            class="btn w-100 btn-primary green-button"
          >
            Registruotis
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
