<div class="modal-overlay">
    <div class="modal-content">
      <!-- Your modal content goes here -->
      <h2 style="color: #05a42f">Testas baigtas!</h2>
      <p>Jūs atsakėt į {{ correctCount }} klausimus iš 5!</p>
      <div class="button-container">
        <button class="btn btn-primary green-button" (click)="closeModal()">Peržiūrėti testą</button>
        <button class="btn btn-primary green-button" (click)="backToHomePage()">Atgal į pradinį puslapį</button>
      </div>
    </div>
  </div>
  